{
    "schemes": [
        "https",
        "http"
    ],
    "swagger": "2.0",
    "info": {
        "description": "Canna API Documentation with Swagger",
        "title": "Canna Got That Swag - API Documentation",
        "contact": {
            "name": "Halcyon Team",
            "url": "https://github.com/halcyonproject",
            "email": "dev@hlcyn.co"
        },
        "version": "1.0"
    },
    "host": "canna.hlcyn.co",
    "basePath": "/",
    "paths": {
        "/api/issue": {
            "get": {
                "description": "Fetch all submitted issues data by User",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Issue"
                ],
                "summary": "Get All Issue Data",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/issue.IssueData"
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Submit Project Issue Data",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Issue"
                ],
                "summary": "Submit Project Issue",
                "parameters": [
                    {
                        "description": "Payload Body [RAW]",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/issue.IssueDataPOST"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/issue.IssueDataPOST"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/api/issue/post/{id}": {
            "get": {
                "description": "Fetch one specified issue data subm,itted by User.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Issue"
                ],
                "summary": "Get Specific Issue Post.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Insert Post ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/issue.IssueData"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            },
            "put": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Update submitted issue data post.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Issue"
                ],
                "summary": "Update issue",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Insert Post ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Payload Body [RAW]",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/issue.IssueDataPOST"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/issue.IssueDataPOST"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Delete Submitted Issue Data.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Issue"
                ],
                "summary": "Delete Issue.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Insert Post ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        }
    },
    "definitions": {
        "issue.IssueData": {
            "type": "object",
            "properties": {
                "Edited": {
                    "type": "boolean"
                },
                "Version": {
                    "type": "string"
                },
                "allow_notify": {
                    "type": "boolean"
                },
                "attachment_url": {
                    "type": "string"
                },
                "author_name": {
                    "type": "string"
                },
                "date": {
                    "type": "string"
                },
                "description": {
                    "type": "string"
                },
                "device": {
                    "type": "string"
                },
                "device_parsed": {
                    "type": "string"
                },
                "issue_id": {
                    "type": "string"
                },
                "status": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                },
                "user_id": {
                    "type": "string"
                }
            }
        },
        "issue.IssueDataPOST": {
            "type": "object",
            "properties": {
                "Version": {
                    "type": "string",
                    "example": "14.3"
                },
                "description": {
                    "type": "string",
                    "example": "Random reboot during use time"
                },
                "device": {
                    "type": "string",
                    "example": "mido"
                },
                "title": {
                    "type": "string",
                    "example": "Random Reboot"
                }
            }
        }
    },
    "securityDefinitions": {
        "BearerAuth": {
            "description": "Enter your bearer token in the format \"Bearer {token}\"",
            "type": "apiKey",
            "name": "Authorization",
            "in": "header"
        }
    }
}